[
 {n2o, [{port,4030},
        {websocket_port,443},
        {ttl, 86400},
        {app,eshop},
        %{upload,"./apps/eshop/priv/static/"},
        {upload,"/var/www/eshop/uploads/"},
        {filename,hm},
        
        %"usd","uah"
        {currency,"uah"},
        
        {pgs_host, "localhost"},
        {pgs_port, 6432},
        {pgs_user, "user_name"},
        {pgs_pass, "pass_word"},
        {pgs_db, "database_name"},
        
        {tg_token, "777777777:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"},
        {tg_chat_id, "-777777777"},
        
        {mode,dev},
        {route,routes},
        {mq,n2o_mq},
        {formatter,bert},
        {log_modules,config},
        {log_level,config},
        {log_backend,n2o_io},
        {session,n2o_session},
        {origin,<<"*">>},
        {bridge,n2o_cowboy},
        {pickler,n2o_pickle},
        {erroring,n2o_error},
        {event,pickle}]},
 {epgsql_pool,
        [{connection_timeout, 5000},
        {query_timeout, 3000},
        {transaction_timeout, 5000} ]}
].
