kernel = "vmling"
name = "skyline"
memory = 512
extra = "-ipaddr 172.16.42.108 -netmask 255.255.255.0 -gateway 172.16.42.108 -root /erlang -pz /deps/erlydtl/ebin -pz /apps/n2o_sample/ebin -pz /deps/n2o/ebin -pz /deps/cowboy/ebin -pz /deps/ranch/ebin -pz /deps/mimetypes/ebin -home /deps/n2o_sample/ebin"
vif =  [ 'bridge=docker0', ]
